<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ job['job_id'] }}</h1>

    <h2>Model: {{ job['model_name'] }}</h2> 
    <p>
    <img src="{{ job['model_diagram_img'] }}" style="{{ job['model_diagram_img_style'] }}">
    </p>
    <p>
    Optimizer: {{ job['model_optimizer_name'] }}
    </p>
    <ul>
        {% for config_item in job['model_optimizer_config'] %}
        <li>{{ config_item }}</li>
        {% endfor %}
    </ul>

    <h2>Model Performance</h2>
    <p>
    Best Validation Loss: Accuracy {{ job['best_val_acc_perc'] }}%
    at epoch {{ job['best_val_acc_epoch'] }}
    </p>

    <p>
    <img src="{{ job['model_metrics_img'] }}" style="{{ job['model_metrics_img_style'] }}">
    </p>
</body>

</html>
