<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<body>
    <h1>Model: {{ job['model_name'] }}</h1>
    <table>
        <tr><td>Directory</td><td><code>{{ job['datadir'] }}</code></td></tr>
        <tr><td>Job</td><td><code>{{ job['job_id'] }}</code></td></tr>
    </table>
    <h2>Model Details</h2>
    <table>
        <tr><td>Optimizer</td><td><code>{{ job['model_optimizer_name'] }}({{ job['model_optimizer_config_str'] }})</code></td></tr>
        <tr><td>Loss</td><td><code>{{ job['model_loss'] }}</code></td></tr>
    </table>
    <p>
    <img src="{{ job['model_diagram_img'] }}" style="{{ job['model_diagram_img_style'] }}">
    </p>
    <h2>Model Performance</h2>
    <table>
        {% if job['test_acc_perc'] is defined %}
        <tr><td>Test Accuracy</td><td>{{ job['test_acc_perc'] }}%</td></tr>
        {% endif %}
        <tr><td>Best Validation Loss</td><td>Accuracy {{ job['best_val_acc_perc'] }}% at epoch {{ job['best_val_acc_epoch'] }}</td></tr>
    </table>
    <p>
    <img src="{{ job['model_metrics_img'] }}" style="{{ job['model_metrics_img_style'] }}">
    </p>

</body>

</html>
